.mainLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #232a33;
}

.mainContent {
    flex: 1;
}

.topBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #040a0f;
  align-items: center;
  justify-content: end;
}



.topBar > * {
  margin: 1rem;

}
